################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vscode/launch.json
/Samples/DCKissTest.ps1
/Samples/DeployFeedbackTest.ps1
/Samples/SourceControlTest.ps1
/Tests/ComputerList.txt
